header {
    display: flex;
    background-color: #171718;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    background-color: #171718;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    margin: 10px
}